.rdp-root {
  --rdp-accent-color: oklch(0.585 0.233 277.117); /* Change the accent color to indigo. */
  --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  --rdp-day-height: 10px;
  --rdp-day-width: 10px;
  --rdp-day_button-height: 36px;
  --rdp-day_button-width: 36px;
}

.filled-day {
  color: rgb(81, 192, 81);
  font-weight: bolder;
}
